
* {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: 142.6%;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
}

a {
  color: inherit;
  cursor: pointer;
}

.main-container {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

#root {
  width: 100%;
  max-width: 1440px;
}

@include computer {
  .main-container {
    max-width: 1240px;
    padding-left: 6.25rem;
    padding-right: 6.25rem;
  }
}