@import "../style.scss"; 

.card-container {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  margin-top: 1.37rem;
  margin-bottom: 1.69rem;
  a {
    text-decoration: none;
  }
}

.card-style {
  height: 15.94rem;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(0, 0, 0, 0.50) 100%);
  border-radius: 0.62rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  
  img {
    border-radius: 0.62rem;
    height: 15.94rem;
    width: 100%;
    object-fit: cover;
    position: absolute;
  }
  h2 {
    margin: 0 1.25rem 0.94rem 1.25rem;
    font-size: 1.12rem;
    color: $white;
    height: 3.25rem;
    position: relative;
    z-index: 1;
  }
}
