@import '../styles/colors';
@import '../styles/mixins';

.card-container {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  margin-top: 1.37rem;
  margin-bottom: 1.69rem;
  a {
    text-decoration: none;
  }
}

.card-link {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.card-style {
  height: 15.94rem;
  /*
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  */
  border-radius: 0.62rem;
  width: 100%;
  /*
  
  */

  position: relative;

  .card-img {
    border-radius: 0.62rem;
    height: 15.94rem;
    width: 100%;
    object-fit: cover;
    position: absolute;
  }
  
  .card-title {
    margin: 0 1.25rem 0.94rem 1.25rem;
    font-size: 1.12rem;
    color: $white;
    height: 3.25rem;
    position: relative;
    
    z-index: 1;
  }
}


@include computer {

  .card-container {
  
    background-color: $gray;

    border-radius: 1.56rem;
    padding: 3.5rem 3.12rem 2.68rem 3.12rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    
    row-gap: 3.12rem;
    /*
    row-gap: 3.75rem;
    */
  }

  .card-style {
    height: 21.25rem;
    max-width: 21.25rem;

    .card-link {
      height: 21.25rem;
      max-width: 21.25rem;
 
    }

    .card-img {
      height: 21.25rem;
      max-width: 21.25rem;
    }
    
  }
}
