@import '../styles/colors';
@import '../styles/mixins';

.collapse-container {
  position: relative;
  height: 1.87rem;
  
  &.visible {
    height: 100%;
  }
}

.collapse-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  background-color: $primary;
  color: $white;
  height: 1.87rem;
  padding-left: 0.62rem;
  padding-right: 0.62rem;
  border-radius: 0.31rem;
  z-index: 1;

  h2 {
    margin: 0;
    font-size: 0.81rem;
  }
  img {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
  }
}

.arrow-icon {
  &.down {
    transform: rotate(-180deg);
    transition: 0.3s ease;
  }
  &.up {
    transition: 0.3s ease;
  }
}

.collapse-content {
  color: $primary;
  border-radius: 0.31rem;
  background-color: $gray;
  font-size: 0.75rem;
  p {
    margin: 0;
    font-weight: 400;
  }
}

.animated-container { 
  scale: 0;
  padding-top: 1.68rem;

  &.visible {
    scale: 1;
    padding: 2.69rem 1.25rem 1.25rem 1.25rem;
  }
}

@include computer {
  .collapse-title {
    height: 3.25rem;
    padding-left: 0.93rem;
    padding-right: 0.93rem;

    h2 {
      font-size: 1.5rem;
    }
  }

  .collapse-container {
    height: 3.25rem;
  }

  .collapse-content {
    p {
      font-size: 1.12rem;
    }
  }

  .animated-container {
    &.visible {
      padding-top: 4.37rem;
    }
  }
} 