@import "../modules/mixins.scss";

header {
  margin-top: 1.25rem;
  margin-bottom: 1.69rem;
  min-width: 17.5rem;
  max-width: 77.5rem;
  img {
    width: 9.06rem;
    height: 2.93rem;
  }
}

.header-style {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
