@import '../styles/colors';
@import '../styles/mixins';

.host-profil {
  display: flex;
  align-items: center;
  column-gap: 0.62rem;
  p {
    font-size: 0.75rem;
    color: $primary;
    text-align: right;
    margin: 0;
  }
}

.host-picture {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

@include computer {
  .host-profil p{
    font-size: 1.12rem;
  }
  .host-picture {
    width: 4rem;
    height: 4rem;
  }
}