@import "../style.scss";

.nav-style {
  color: $primary;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  font-size: 0.75rem;
  column-gap: 1.62rem;
}

.style-link-on {
  text-decoration: underline;
}

.style-link-off {
  text-decoration: none;
}