@import "../style.scss";

.nav-style {
  color: $primary;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  font-size: 0.75rem;
  column-gap: 1.62rem;

  a {
    color: inherit;
    text-decoration: none;
  }
}
