.slideshow-container {
  width: 100%;
  height: 15.94rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 0.93rem;
}

.slideshow-picture {
  height: 15.94rem;
  border-radius: 0.62rem;
  position: absolute;
  object-fit: cover;
  width: 100%;
  object-position: center;
}

.slideshow-arrow {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  z-index: 1;
}

.arrow-left {
  left: 0;
}

.arrow-right {
  right: 0;
}

.slideshow-count {
  z-index: 2;
  position: absolute;
  color: #fff;
  bottom: 1.56rem;
  display: none;
}
