@import "../styles/colors";
@import "../styles/mixins";

.slideshow-container {
  width: 100%;
  height: 15.94rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 0.93rem;
  z-index: 1;
}

.slideshow-background {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(0, 0, 0, 0.50) 100%);
}

.slideshow-border {
  border-radius: 0.62rem;
}

.slideshow-picture {
  height: 15.94rem;
  position: absolute;
  object-fit: cover;
  width: 100%;
  object-position: center;
}

.slideshow-arrow {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  z-index: 3;
}

.arrow-left {
  left: 0;
  cursor: pointer;
}

.arrow-right {
  right: 0;
  cursor: pointer;
}

.hide-arrow-and-counter {
  display: none;
}

@include computer {
  .slideshow-container,
  .slideshow-picture {
    height: 25.94rem;
  }

  .slideshow-border {
    border-radius: 1.56rem;
  }

  .slideshow-arrow {
    height: 7.47rem;
    width: 6rem;
  }

  .slideshow-count {
    font-size: 1.12rem;
    z-index: 3;
    position: absolute;
    color: $white;
    bottom: 1.56rem;
  }
}
