@import '../styles/colors';
@import '../styles/mixins';

.tags-container {
  display: flex;
  column-gap: 0.62rem;
  color: $white;
  padding-left: 0;

  li {
    background-color: $primary;
    border-radius: 0.31rem;
    height: 1.12rem;
    font-size: 0.62rem;
    padding-left: 1.37rem;
    padding-right: 1.37rem;
    @include center;
  }

  @include computer {
    li {
      font-size: 0.87rem;
      height: 1.56rem;
    }
  }
}

