@import '../styles/colors';

.accommodation-container {
  color: $primary;
}

.accommodation-title {
  font-size: 1.12rem;
  margin: 0;
}

.accommodation-location {
  font-size: 0.87rem;
  margin-top: 0.31rem;
  margin-bottom: 0.62rem;
}

