@import '../styles/mixins';

@include computer {
  .housing-container {
    @include center;
    flex-direction: column;
    max-width: 77.5rem;
  }

  .housing-profil-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .housing-host-container {
    flex-direction: column-reverse;
    row-gap: 1.31rem;
  }

  .housing-collapse-container {
    flex-direction: row;
    column-gap: 4.75rem;
  }
}

