@import "../../styles/mixins";

header {
  margin-top: 1.25rem;
  margin-bottom: 1.69rem;
  min-width: 17.5rem;
  max-width: 77.5rem;
  img {
    width: 9.06rem;
    height: 2.93rem;
  }
}

.header-style {
  @include center;
  flex-direction: row;
}
