@import "../../styles/colors";
@import "../../styles/mixins";

.nav-style {
  color: $primary;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  font-size: 0.75rem;
  column-gap: 1.62rem;

  a {
    text-transform: uppercase;
  }
}

@include computer {
  .nav-style a {
    text-transform: capitalize;
    font-size: 1.5rem;
  }
}