@import '../scss/styles/mixins';

.about-container {
  margin: 1.18rem 0;
}

.about-collapse-container {
  display: flex;
  flex-direction: column;
  row-gap: 1.25rem;
  max-width: 63.94rem;
  margin-top: 1.18rem;
}

@include computer {
  .about-container {
    margin: 2.37rem 0;
  }

  .about-collapse-container {
    padding-left: 6.75rem;
    padding-right: 6.75rem;
    margin-top: 2.37rem;
  }
  .collapse-container {
    max-width: 63.94rem;
    width: 100%;
  }

  .about-collapse-title {
    padding-left: 0.93rem;
    padding-right: 0.93rem;
  }
}
