.housing-container {
  margin: 1.68rem 0;
}

.housing-host-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 0.81rem;
}

.housing-collapse-container {
  display: flex;
  flex-direction: column;
  row-gap: 1.25rem;
  width: 100%;
}

@import '../scss/media/housing_media.scss';