@import './modules/mixins.scss';

$background: #ffffff;
$primary: #ff6060;
$gray: #f6f6f6;
$black: #000000;
$white: #ffffff;

*{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: 142.6%;
}

body {
  margin: 0;
}

a {
  color: inherit;
  cursor: pointer;
}

.left-right-margin {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}



